body{
    margin: 0;
    font-family: 'Livvic', sans-serif;
}

header .container{
    display: flex;
    justify-content: space-between;
}

.menu ul{
    display: flex;
}

.menu ul li{
    list-style: none;
    margin-right: 50px; 
}

a{
    text-decoration: none;
}

header{
    background: url(imgfondo.jpg);
    height: 100vh;
    background-size: 100% 100%;
}

h3{
    text-align: center;
    font-size: 50px;
}

#contacto form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 77%;
    margin: auto;
}

input[type="text"], input[type="email"]{
    width: 49%;
    margin-bottom: 15px;
    padding: 18px 0px;
    border: 0;
    border-bottom: 1px solid green;
}

textarea{
    padding: 18px 0px;
    border: 0;
    border-bottom: 1px solid green;
    width: 100%;
    font-size: 17px;
    margin-bottom: 40px;    
}

.main-container{
    margin: auto;
    width: 400px;    
}