#Volunt{
    background-color: var(--fondoPrimario);    
}

.asd{
    max-width: 50%;
}

.carousel-inner {
    max-height: 576px;
    height: 100%;
}

.carousel-item img{
    width: 100%;
    height: 576px;
    object-fit: cover;
}

.videoCarousel{
    width: 100%;
    height: 576px;
    object-fit: cover;
}