#Volunt{
    background-color: var(--fondoPrimario);    
}

.asd{
    max-width: 50%;
}

.carousel-inner {
    max-height: 400px;
    height: 100%;
}

footer {
    background: #2f2f2f;
    padding:  40px ;
    text-align: center;
    margin-top: 40px;
}

footer .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

footer img {
margin: 0 40px;
}

footer p {
    color: #ffff;
    margin-top: 40px;
}