#map{
    height: 100%;
    width: 100%;
}

#Instituciones{
    background-color: #edf0ee;
}

.containerAccordion{
    width: 55%;
}

.containerMap{
    width: 45%;
}

#Instituciones .stretched-link{
    background-color: transparent;
    color: darkred;
}
