#map{
    height: 100%;
    width: 100%;
}

#Instituciones{
    background-color: var(--fondoSecundario);
}

.containerAccordion{
    width: 90%;
    display: none;
}

.containerMap{
    width: 100%;
    height: 100vh;
}

#Instituciones .stretched-link{
    background-color: transparent;
    color: var(--greenCustom);
}


.imgsCategorias{
    width: 150px;
    height: 150px;
    margin-right: 40px;
    margin-bottom: 50px;
}

@media (max-width: 800px){
    .contMobile{
        flex-direction: column;
        padding: 0px 0px !important;
        margin: 50px 0px !important;
    }

    .containerAccordion{
        width: 100%;
        margin-right: 0px !important;
        margin-bottom: 10px;
    }

    .containerMap{
        width: 100%;
        height: 400px;
    }
}

