h3 {
    text-align: center;
    font-size: 55px;
    font-weight: normal;
}

.nav_menu{
    position: fixed;
    background-color: var(--primaryCustom);
    padding: 10px 0px;
}

.ma{
    margin: auto;
}

.center-block{
    display: block;
    margin: auto;
}

#logo2{
    height: auto;
    width: auto;
    max-height: 72px;
    max-width: 250px;
    display: block;
}

.btnnav{
    display: inline-block;    
}

.imgSecciones
{
    max-height: 25%;
    max-width: 20%;
}

:root {
    --primaryCustom:#fff;
    --thirdCustom: #8aafff;
    --secondaryCustom: #ffda8a;
}