:root {
    --fondoPrimario:#fff;
    --fondoSecundario: #F9FAFC;
    --colorPrimario: #4a0461;
    --colorSecundario: #ac9e27;
    --colorTerciario: #ff0015;
}

h3 {
    text-align: center;
    font-size: 55px;
    font-weight: normal;
}

.nav_menu{
    position: fixed;
    background-color: var(--fondoPrimario);
    padding: 10px 0px;
}

.ma{
    margin: auto;
}

.center-block{
    display: block;
    margin: auto;
}

#logo{
    max-height: 75px;
    display: block;
    transform: scale(1, 1);
    transition: 0.4s;
}

#logo:hover{
    transform: scale(1.3, 1.3)
}

.btnnav{
    display: inline-block;    
}

.imgSecciones
{
    max-height: 25%;
    max-width: 20%;
}

.btn{
    background-color: var(--colorSecundario)!important;
}

body{
    color: var(--colorPrimario)!important;
}